{
  "version": "2026.08.13.1",
  "url": "https://hikariro.com/download/mobile/HikariRO-Full-20260813.zip",
  "size": 4820383759,
  "sha256": "REPLACE_WITH_THE_ZIP_SHA256",
  "executable": "HikariRO/raghikari.exe"
}
